attr==0.3.2
colorama==0.4.6
ConfigParser==7.0.0
cryptography==41.0.5
cryptography==3.4.8
Cython==3.0.5
dl==0.1.0
docutils==0.21.2
filelock==3.15.4
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.1
Jinja2==3.1.2
jnius==1.1.0
keyring==23.5.0
numpy==1.25.2
Pillow==9.2.0
Pillow==10.4.0
pistonpy==0.0.3
protobuf==5.27.2
pyOpenSSL==23.3.0
pyOpenSSL==24.1.0
railroad==0.5.0
redis==5.0.7
Sphinx==7.3.7
streamlit==1.36.0
streamlit_ace==0.1.1
thread==2.0.4
tornado==6.3.3
trove_classifiers==2024.7.2
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
